<div>
<h3>Данные по ТС</h3>
<p *ngIf='!isDataCorrect'>Неверно указаны данные</p>
<div>
    <!-- Номер автомобиля -->
        <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"></span>
                </div>
                <input 
                type="text" 
                class="form-control" 
                placeholder="Номер автомобиля" 
                aria-label="Номер автомобиля" 
                aria-describedby="basic-addon1" 
                [ngStyle]="{ background: carNumberColor }"
                [(ngModel)]="car.CarNumber"
                (ngModelChange)='initializeCarNumber()'>
            </div>

    <!-- Марка автомобиля -->
    <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"></span>
            </div>
            <input 
            type="text" 
            class="form-control" 
            placeholder="Марка автомобиля" 
            aria-label="Марка автомобиля" 
            aria-describedby="basic-addon1"
            [ngStyle]="{ background: carAutomakerColor }"
            [(ngModel)]="carModel.automaker"
            (ngModelChange)='initializeCarAutomaker()'>
        </div>

    <!-- Модель автомобиля -->
    <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"></span>
            </div>
            <input 
            type="text" 
            class="form-control" 
            placeholder="Модель автомобиля" 
            aria-label="Модель автомобиля" 
            aria-describedby="basic-addon1" 
            [ngStyle]="{ background: carModelColor }"
            [(ngModel)]="carModel.model"
            (ngModelChange)='initializeCarModel()'>
        </div>

    <!-- Год выпуска автомобиля -->
    <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"></span>
            </div>
            <input 
            type="text" 
            class="form-control" 
            placeholder="Год выпуска автомобиля" 
            aria-label="Год выпуска автомобиля" 
            aria-describedby="basic-addon1" 
            [ngStyle]="{ background: carManufacturingYearColor }"
            [(ngModel)]="car.ManufacturedYear"
            (ngModelChange)='initializeCarManufacturingYear()'>
        </div>

    <!-- Мощность двигателя автомобиля -->
    <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"></span>
            </div>
            <input 
            type="text" 
            class="form-control" 
            placeholder="Мощность двигателя автомобиля" 
            aria-label="Мощность двигателя автомобиля" 
            aria-describedby="basic-addon1" 
            [ngStyle]="{ background: carEnginePowerColor }"
            [(ngModel)]="car.EnginePower"
            (ngModelChange)='initializeCarEnginePower()'>
        </div>

    <!-- Стоимость автомобиля -->
    <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"></span>
            </div>
            <input 
            type="text" 
            class="form-control" 
            placeholder="Стоимость автомобиля" 
            aria-label="Стоимость автомобиля" 
            aria-describedby="basic-addon1" 
            [ngStyle]="{ background: carCostColor }"
            [(ngModel)]="car.CarCost"
            (ngModelChange)='initializeCarCost()'>
        </div>

    <button type="button" class="btn btn-primary" (click)="calculatePolicy(car)">Расcчитать</button>
</div>
</div>
