<h3>Данные по ТС</h3>

<div>    
    <p>Номер автомобиля:<input type="text" [(ngModel)]="car.CarNumber"></p>
    <p>Модель автомобиля:<input type="text" [(ngModel)]="car.CarModel"></p>
    <p>Год выпуска автомобиля:<input type="text" [(ngModel)]="car.ManufacturedYear"></p>
    <p>Мощность двигателя автомобиля:<input type="text" [(ngModel)]="car.EnginePower"></p>
    <p>Стоимость автомобиля:<input type="text" [(ngModel)]="car.CarCost"></p>
    <button (click)="calculatePolicy(car)">Расcчитать</button>
</div>
