<div class = "registration">
    <h2>Регистрация нового пользователя</h2>
    <p *ngIf='!isDataCorrect'>Неверно указаны данные</p>
    <!-- Children роутинг -->
    <router-outlet></router-outlet>     

    <div *ngIf='!registerResult'>

          <!-- E-mail -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"></span>
            </div>
            <input 
            type="text" 
            class="form-control" 
            placeholder="E-mail" 
            aria-label="E-mail" 
            aria-describedby="basic-addon1" 
            [ngStyle]= "{ background: emailColor }"
            [(ngModel)]="userData.EMail"
            (ngModelChange)='initializeEmail()'>
          </div>

      <!-- Фамилия -->
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"></span>
          </div>
          <input 
          type="text" 
          class="form-control" 
          placeholder="Фамилия" 
          aria-label="Фамилия" 
          aria-describedby="basic-addon1" 
          [ngStyle]="{ background: surnameColor }"
          [(ngModel)]="clientName.surname"
          (ngModelChange)='initializeSurname()'>
        </div>

      <!-- Имя -->
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"></span>
          </div>
          <input 
          type="text" 
          class="form-control" 
          placeholder="Имя" 
          aria-label="Имя" 
          aria-describedby="basic-addon1" 
          [ngStyle]="{ background: nameColor }"
          [(ngModel)]="clientName.name"
          (ngModelChange)='initializeName()'>
        </div>

      <!-- Отчество -->
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"></span>
          </div>
          <input 
          type="text" 
          class="form-control" 
          placeholder="Отчество" 
          aria-label="Отчество" 
          aria-describedby="basic-addon1" 
          [ngStyle]="{ background: patronimycColor }"
          [(ngModel)]="clientName.patronymic"
          (ngModelChange)='initializePatronimyc()'>
        </div>

      <!-- Дата рождения -->
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"></span>
          </div>
          <input 
            type="date" 
            class="form-control" 
            placeholder="Дата рождения" 
            aria-label="Дата рождения" 
            aria-describedby="basic-addon1" 
            [ngStyle]="{ background: bithDateColor }"
            [(ngModel)]="userData.BirthDate"
            (ngModelChange)='initializeBirthDate()'>
        </div>

      <!-- Дата выдачи прав -->
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"></span>
          </div>
          <input 
          type="date" 
          class="form-control" 
          placeholder="Дата выдачи прав" 
          aria-label="Дата выдачи прав" 
          aria-describedby="basic-addon1"  
          [ngStyle]="{ background: driverLicenzeDateColor }"       
          [(ngModel)]="userData.DriverLicenseDate"
          (ngModelChange)='initializeDriverLicenseDate()'>
        </div>

      <!-- Пароль -->
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"></span>
          </div>
          <input 
          type="password" 
          class="form-control" 
          placeholder="Пароль" 
          aria-label="Пароль" 
          aria-describedby="basic-addon1" 
          [ngStyle]="{ background: passwordColor }"
          [(ngModel)]="userData.Password"
          (ngModelChange)='initializePassword()'>
        </div>

      <!-- Подтверждение пароля -->
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"></span>
          </div>
          <input           
          type="password" 
          class="form-control" 
          placeholder="Подтверждение пароля" 
          aria-label="Подтверждение пароля" 
          aria-describedby="basic-addon1"
          [ngStyle]="{ background: isPasswordCorrect ? 'rgb(168, 229, 160)' : 'rgb(216, 149, 149)'}"
          [(ngModel)]="confirmPassword" 
          (ngModelChange)='checkPassword()'>
        </div>

        <!-- Регистрация -->
      <p><button type="button" class="btn btn-primary" (click)="userRegistration()">Зарегистрироваться</button></p>
    </div>
</div> 